@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/Admin/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Admin/css/main.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/main/favicon.ico" />
    <link href="~/Content/css/listPage.css" rel="stylesheet" />
</head>
<body>
    <!--main_top-->
    <table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
        <tr>
            <td width="99%" align="left" valign="top">您的位置：用户管理</td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                    <tr>
                        <td width="90%" align="left" valign="middle">
                            <form method="post" action="~/UserInfo/Index">
                                <span>用户名/姓名/手机号：</span>
                                <input type="text" name="search" class="text-word">
                                <input type="submit" class="text-but" value="查询">
                            </form>
                        </td>
                        @*<td width="10%" align="center" valign="middle" style="text-align:right; width:150px;">
                            <a href="~/UserInfo/Create" target="mainFrame" onfocus="  this.blur()" class="add">用户充值</a>
                        </td>*@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                    <tr>
                        <th align="center" valign="middle" class="borderright">编号</th>
                        <th align="center" valign="middle" class="borderright">用户名</th>
                        <th align="center" valign="middle" class="borderright">姓名</th>
                        <th align="center" valign="middle" class="borderright">性别</th>
                        <th align="center" valign="middle" class="borderright">年龄</th>
                        <th align="center" valign="middle" class="borderright">电话</th>
                        <th align="center" valign="middle" class="borderright">邮箱</th>
                        <th align="center" valign="middle" class="borderright">余额</th>
                        <th align="center" valign="middle" class="borderright">锁定</th>
                        <th align="center" valign="middle" class="borderright">注册时间</th>
                        <th align="center" valign="middle">操作</th>
                    </tr>
                    @{
                        List<BeautySalonWebApp.Models.BS_UserInfo> mlist = (List<BeautySalonWebApp.Models.BS_UserInfo>)ViewData["List"];
                        foreach (var item in mlist)
                        {
                            <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#edf5ff'">
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Id</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.UserName</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.RealName</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Sex</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Age</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Tel</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Email</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Money 元</td>
                                <td align="center" valign="middle" class="borderright borderbottom">
                                    @{string mlock = item.Lock == "0" ? "否" : "是";}
                                    @mlock
                                </td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.regTime</td>
                                <td align="center" valign="middle" class="borderbottom">
                                    <a href="/UserInfo/UserInfoUpdatePwd/@item.Id" target="mainFrame" onfocus="this.blur()" class="add">密码重置</a>
                                    <span class="gray">&nbsp;|&nbsp;</span>
                                    <a href="/UserInfo/AccountRecharge/@item.Id" target="mainFrame" onfocus="this.blur()" class="add">充值</a>
                                    <span class="gray">&nbsp;|&nbsp;</span>
                                    <a href="/UserInfo/UserInfoLock/@item.Id" target="mainFrame" onfocus="this.blur()" class="add">
                                        @if (item.Lock == "0")
                                        { @Html.Raw("锁定")}
                                        else
                                        { @Html.Raw("解锁")}
                                    </a>
                                    <span class="gray">&nbsp;|&nbsp;</span>   
                                    <a href="/UserInfo/Delete/@item.Id" onclick="confirm('确定要删除吗?')" target="mainFrame" onfocus="this.blur()" class="add">删除</a>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" class="fenye">
                @Html.Raw(ViewData["Bar"])
            </td>
        </tr>
    </table>
</body>
</html>