@model BeautySalonWebApp.Models.BS_Service
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppointMent</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>
        function submit() {
            var date = $("#Time").val();
            var nowDate = $("#NowTime").val();

            if (date == "") {
                alert("日期不能为空！");
                return false;
            }
            if (date <= nowDate)
            {
                alert("日期需选择当前日期后一天！仅提供提前一天预约！");
                return false;
            }
            $("#form1").submit();
        }
    </script>
</head>
<body>
    <form id="form1" method="post" action="/FrontVIP/AppointMent" >
        <div>
            <input type="hidden" value="@Model.Id" name="id" />
            <input type="hidden" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="NowTime"  />
            <p>服务项目：<label>@Model.Title</label></p>
            <p>服务价格：<label>@Model.Price 元/次</label></p>
            <p> 预约日期： <input type="date" id="Time" name="Time" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" />
            <p>
                时间选择： <select name="TimeSlot">
                    <option value="10:00~11:00" selected="selected">10:00~11:00</option>
                    <option value="11:00~12:00">11:00~12:00</option>
                    <option value="12:00~13:00">12:00~13:00</option>
                    <option value="13:00~14:00">13:00~14:00</option>
                    <option value="14:00~15:00">14:00~15:00</option>
                    <option value="15:00~16:00">15:00~16:00</option>
                    <option value="16:00~17:00">16:00~17:00</option>
                    <option value="17:00~18:00">17:00~18:00</option>
                    <option value="18:00~19:00">18:00~19:00</option>
                    <option value="19:00~20:00">19:00~20:00</option>
                </select>
            </p>
            <p>联系电话： <input type="text" name="Tel" value="@ViewData["Tel"]" /></p>

        <a href="#" onclick="submit()">提交</a>
    </form>
</body>
</html>
