@model BeautySalonWebApp.Models.BS_Goods
@{
    ViewBag.Title = "GoodsDetails";
    Layout = "~/Views/master.cshtml";
}
@section scripts{
    <script>
     function submit(id) {
        var json = { gid: id };
        $.post("/Handel/GoodsCarHandler.ashx", json, function (data) {
            if (data == "ok")
                alert("添加成功");
            else
                alert(data);
        })
     }
     </script>
}
<!--==============================content=================================-->


    <div class="main-block">
        <div class="container_12">
            <div class="wrapper border-vert">
                <article class="grid_5">
                    <h3>@Model.GoodsName</h3>
                    <div class="map">
                        <img src="@Model.GoodsPic" width="300" height="200" />
                    </div>
                </article>
                <article class="grid_5 prefix_2">
                    <h3>商品详情</h3>
                    <dl class="address">
                        <dd> <span>品牌:</span>@Model.Blank <br /><br /></dd>

                        <dd> <span>商品类型:</span>@Model.GoodsType <br /><br /></dd>
                      
                        <dd> <span>商品价格:</span> @Model.GoodsPrice 元 <br /><br /></dd>

                        <dt>
                            <span>商品描述:</span>@Model.Detail <br /><br />
                        </dt>
                    </dl>
                    <div class="buttons-wrapper">
                     
                         <a class="button" data-type="submit" onclick="submit(@Model.Id)">加入购物车</a>
                    </div>

                </article>
            </div>
        </div>
    </div>

