@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/Admin/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Admin/css/main.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/main/favicon.ico" />
    <link href="~/Content/css/listPage.css" rel="stylesheet" />
</head>
<body>
    <!--main_top-->
    <table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
        <tr>
            <td width="99%" align="left" valign="top">您的位置：留言管理</td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                    <tr>
                        <td width="90%" align="left" valign="middle">
                            <form method="post" action="~/Goods/Index">
                                <span>姓名/电话：</span>
                                <input type="text" name="search" class="text-word">
                                <input type="submit" class="text-but" value="查询">
                            </form>
                        </td>
                        @*<td width="10%" align="center" valign="middle" style="text-align:right; width:150px;">
                                <a href="~/Goods/Create" target="mainFrame" onfocus="  this.blur()" class="add">新增留言</a>
                            </td>*@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                    <tr>
                        <th align="center" valign="middle" class="borderright">编号</th>
                        <th align="center" valign="middle" class="borderright">姓名</th>
                        <th align="center" valign="middle" class="borderright">邮箱</th>
                        <th align="center" valign="middle" class="borderright">电话</th>
                        <th align="center" valign="middle" class="borderright">留言内容</th>
                        <th align="center" valign="middle" class="borderright">留言时间</th>
                        <th align="center" valign="middle" class="borderright">是否处理</th>
                        <th align="center" valign="middle" class="borderright">处理时间</th>
                        <th align="center" valign="middle">操作</th>
                    </tr>
                    @{
                        List<BeautySalonWebApp.Models.BS_Contact> mlist = (List<BeautySalonWebApp.Models.BS_Contact>)ViewData["List"];

                        foreach (var item in mlist)
                        {
                            <tr onmouseout="this.style.backgroundColor='#ffffff'" onmouseover="this.style.backgroundColor='#edf5ff'">
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Id</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Name</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Email</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Phone</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Message</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.AddTime</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.Reply</td>
                                <td align="center" valign="middle" class="borderright borderbottom">@item.ReplyTime</td>
                                <td align="center" valign="middle" class="borderbottom">
                                    <a href="/Contact/ContactDone/@item.Id" target="mainFrame" onfocus="this.blur()" class="add">
                                        @if (item.Reply == "未处理")
                                        { @Html.Raw("已处理")}
                                        else
                                        { @Html.Raw("撤销")}
                                    </a>
                                    <span class="gray">&nbsp;|&nbsp;</span>
                                    <a href="/Contact/Delete/@item.Id" onclick="confirm('确定要删除吗?')" target="mainFrame" onfocus="this.blur()" class="add">删除</a>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" class="fenye">
                @Html.Raw(ViewData["Bar"])
            </td>
        </tr>
    </table>
</body>
</html>
